<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
     
      <a class="navbar-brand" href="products">BillEasy</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Products", products_path %></li>
       
        
      </ul>
       <div class="navbar-text navbar-right">
 
       
       <ul>

     <% @cart.line_items.each do |item| %>
<div><%= item.quantity %> item added to the cart.</div>
<div><%= button_to 'Empty cart', @cart, method: :delete,
data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></div>
<% end %>
</ul>

          
       </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>